First part is related with 'data cleaning'. It deals with 
-Incorrect Headers, 
-Incorrect Format, 
-Anomalies, 
-Dropping useless columns.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")

import warnings
warnings.filterwarnings("ignore")

In [2]:
df0= pd.read_json('scout_car.json',lines=True)
df0.head(5)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pd.set_option('display.max_columns', 55)

In [4]:
# display.max_rows and display.max_columns sets the maximum number of rows and columns displayed
# when a frame is pretty-printed. Truncated lines are replaced by an ellipsis.

In [4]:
df= df0.copy()
df.tail()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,None,NaN,147 kW,"[, New, , Diesel (Particulate Filter)]",NaN,NaN,NaN,\n24 months\n,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\n10988301\n],NaN,"[\n, Grey, \n]",[\nMetallic\n],[\nGrigio scuro\n],NaN,"[\n, Van, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],"[\n1,758 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen]","[ABS, Central door lock, Central door lock wit...",[\nVettura visionabile nella sede in Via Roma ...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,NaN,165 kW,"[, Used, , Super 95 / Super Plus 98 (Particula...","[\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...","[\n01/2022\n, \n168 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]",NaN,"[\n, \n, \n4 (Green)\n]",[],\nRenault\n,"[\n, Espace, \n]",[\n507370_3223\n],"[\n, 2019, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nStahl-Grau Metallic\n],[\nCloth\n],"[\n, Van, \n]",[\n5\n],[\n5\n],[\n0000/000\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,708 kg\n]",[\nfront\n],"[\n, Super 95 / Super Plus 98 (Particulate Fil...","[\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...",[\n168 g CO2/km (comb)\n],NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Hands-free equipmen...","[Alloy wheels, Touch screen, Voice Control]","[ABS, Adaptive Cruise Control, Blind spot moni...","[\nDach: Panorama-Glas-Schiebedach, Lackierung...",NaN,[\n7\n],[\nGermany\n],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,NaN,146 kW,"[, Pre-registered, , Diesel]","[\n1\n, \n139 g CO2/km (comb)\n]",NaN,"[\nYes\n, \nEuro 6d-TEMP\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nRenault\n,"[\n, Espace, \n]",[\nEspace16\n],"[\n, 2019, \n]","[\n, White, \n]",NaN,[\narktis-weiß\n],"[\nFull leather, Black\n]","[\n, Van, \n]",[\n5\n],[\n7\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],NaN,[\nfront\n],"[\n, Diesel, \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...",[Alloy wheels],"[ABS, Adaptive Cruise Control, Blind spot moni...","[\n, Getriebe:, Automatik, Technik:, Bordcom...",NaN,[\n6\n],[\nAustria\n],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,None,NaN,147 kW,"[, Pre-registered, , Diesel]",NaN,NaN,NaN,\n,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\n2691331\n],"[\n, 2019, \n]","[\n, Grey, \n]",NaN,[\nGrigio\n],[\nPart leather\n],"[\n, Van, \n]",[\n5\n],[\n7\n],NaN,"[\n, Automatic, \n]","[\n1,997 cc\n]",[\n4\n],"[\n1,758 kg\n]",[\nfront\n],"[\n, Diesel, \n]","[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n139 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Digital radio, Radio, USB]","[Alloy wheels, Touch screen]","[ABS, Blind spot monitor, Driver-side airbag, ...","[\nDEK:[2691331], Renault Espace Blue dCi 200C...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,165 kW,"[, Demonstration, , Super 95]",\n1\n,NaN,"[\nYes\n, \n153 g CO2/km (comb)\n]",NaN,NaN,NaN,[],\nRenault\n,"[\n, Espace, \n]",[\nRe_30000008029\n],"[\n, 2019, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nTitanium-Grau Metallic\n],"[\nFull leather, Brown\n]","[\n, Van, \n]",[\n5\n],[\n5\n],[\n3333/BHJ\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,685 kg\n]",[\n4WD\n],"[\n, Super 95, \n]","[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...",[\n153 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...",[USB],"[Alloy wheels, Touch screen]","[ABS, Blind spot monitor, Daytime running ligh...","[\n, Sicherheit Airbags:, , Seitenairbag, , ...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.index

RangeIndex(start=0, stop=15919, step=1)

In [7]:
df.shape

(15919, 54)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [9]:
df.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

In [10]:
df.describe(include= 'object').T

,count,unique,top,freq
url,15919,15919,https://www.autoscout24.com//offers/audi-a1-sp...,1
make_model,15919,9,Audi A3,3097
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
km,15919,6690,10 km,1045
registration,15919,48,-/-,1597
prev_owner,9091,4,1 previous owner,8294
hp,15919,81,85 kW,2542
Type,15917,169,"[, Used, , Diesel (Particulate Filter)]",3475
Previous Owners,9279,102,\n1\n,8101
Next Inspection,3535,1399,\n04/2022\n,62
Inspection new,3932,202,"[\nYes\n, \nEuro 6\n]",523
Warranty,10499,515,"[\n, \n, \nEuro 6\n]",1868
Full Service,8215,122,"[\n, \n, \n4 (Green)\n]",2235
Non-smoking Vehicle,7177,94,"[\n, \n]",3647
null,15919,1,[],15919
Make,15919,3,\nOpel\n,7343
Model,15919,9,"[\n, A3, \n]",3097
Offer Number,12744,11440,[\nLT67679\n],27
First Registration,14322,4,"[\n, 2018, \n]",4522
Body Color,15322,14,"[\n, Black, \n]",3745
Paint Type,10147,3,[\nMetallic\n],9794
Body Color Original,12160,1927,[\nOnyx Schwarz\n],338
Upholstery,12199,46,"[\nCloth, Black\n]",5821
Body,15859,9,"[\n, Sedans, \n]",7903
Nr. of Doors,15707,6,[\n5\n],11575
Nr. of Seats,14942,6,[\n5\n],13336
Model Code,4978,232,[\n0035/BCB\n],268
Gearing Type,15919,3,"[\n, Manual, \n]",8153
Displacement,15423,77,"[\n1,598 cc\n]",4761
Cylinders,10239,7,[\n4\n],8105
Weight,8945,434,"[\n1,163 kg\n]",574
Drive chain,9061,3,[\nfront\n],8886
Fuel,15919,77,"[\n, Diesel (Particulate Filter), \n]",4315
Consumption,14013,881,"[[3.9 l/100 km (comb)], [4.1 l/100 km (city)],...",304
CO2 Emission,14111,123,[\n120 g CO2/km (comb)\n],740
Emission Class,12898,7,[\nEuro 6\n],10139
\nComfort & Convenience\n,14999,6198,"[Air conditioning, Electrical side mirrors, Hi...",216
\nEntertainment & Media\n,14545,346,"[Bluetooth, Hands-free equipment, On-board com...",1282
\nExtras\n,12957,659,[Alloy wheels],3245
\nSafety & Security\n,14937,4443,"[ABS, Central door lock, Daytime running light...",538
description,15919,12874,[],636
Emission Label,3985,6,[\n4 (Green)\n],3553
Gears,11207,10,[\n6\n],5822
Country version,7586,23,[\nGermany\n],4502
Electricity consumption,137,1,[\n0 kWh/100 km (comb)\n],137
Last Service Date,566,266,"[\n02/2019\n, \nEuro 6\n]",23
Other Fuel Types,880,1,"[[], [], []]",880
Availability,635,15,\nin 90 days from ordering\n,196
Last Timing Belt Service Date,16,15,[\n04/2016\n],2
Available from,272,46,\n31/08/19\n,98

In [11]:
df.head(3).T

,0,1,2
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,"56,013 km","80,000 km","83,450 km"
registration,01/2016,03/2017,02/2016
prev_owner,2 previous owners,None,1 previous owner
kW,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]"
Full Service,"[\n, \n]",NaN,NaN
Non-smoking Vehicle,"[\n, \n]",NaN,NaN
null,[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]"
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]"
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n]
Gears,NaN,[\n7\n],NaN
Country version,NaN,NaN,NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

In [5]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

As seen above, there is no standardization in column names. Since we can obtain data from many different sources, we can encounter column names in many different shapes and formats. It will be useful to standardize the column names at the beginning of our work.

Column names can be standardized with simple coding. However, there is a great library for standardizing column names, 'skimpy'.

I will show it as an application below. However, you can read the article in the link to get more detailed information.

https://towardsdatascience.com/how-to-clean-messy-pandas-column-names-20dc7400cea7

In [6]:
from skimpy import clean_columns

In [8]:
columns= ['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from']

messy_df = pd.DataFrame(data = [], columns = columns, index = [0])
clean_df = clean_columns(messy_df)
clean_df.columns.tolist()

['url',
 'make_model',
 'short_description',
 'body_type',
 'price',
 'vat',
 'km',
 'registration',
 'prev_owner',
 'k_w',
 'hp',
 'type',
 'previous_owners',
 'next_inspection',
 'inspection_new',
 'warranty',
 'full_service',
 'non_smoking_vehicle',
 'null',
 'make',
 'model',
 'offer_number',
 'first_registration',
 'body_color',
 'paint_type',
 'body_color_original',
 'upholstery',
 'body',
 'nr_of_doors',
 'nr_of_seats',
 'model_code',
 'gearing_type',
 'displacement',
 'cylinders',
 'weight',
 'drive_chain',
 'fuel',
 'consumption',
 'co_2_emission',
 'emission_class',
 'comfort_&_convenience',
 'entertainment_&_media',
 'extras',
 'safety_&_security',
 'description',
 'emission_label',
 'gears',
 'country_version',
 'electricity_consumption',
 'last_service_date',
 'other_fuel_types',
 'availability',
 'last_timing_belt_service_date',
 'available_from']

In [9]:
df.columns = clean_df.columns.tolist()

In [16]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'k_w', 'hp', 'type',
       'previous_owners', 'next_inspection', 'inspection_new', 'warranty',
       'full_service', 'non_smoking_vehicle', 'null', 'make', 'model',
       'offer_number', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'upholstery', 'body', 'nr_of_doors',
       'nr_of_seats', 'model_code', 'gearing_type', 'displacement',
       'cylinders', 'weight', 'drive_chain', 'fuel', 'consumption',
       'co_2_emission', 'emission_class', 'comfort_&_convenience',
       'entertainment_&_media', 'extras', 'safety_&_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'last_service_date', 'other_fuel_types', 'availability',
       'last_timing_belt_service_date', 'available_from'],
      dtype='object')

In [17]:
df.url.value_counts()

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

In [18]:
df.url.head(1)

0    https://www.autoscout24.com//offers/audi-a1-sp...
Name: url, dtype: object

In [19]:
df.make_model.value_counts( dropna = False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [20]:
df.short_description.value_counts(dropna = False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

In [21]:
df.body_type.value_counts(dropna = False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [22]:
df.price.describe()

count    15919.000000
mean     18019.896727
std       7386.169409
min         13.000000
25%      12850.000000
50%      16900.000000
75%      21900.000000
max      74600.000000
Name: price, dtype: float64

In [23]:
df.vat.value_counts(dropna = False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [24]:
df.km

0        56,013 km
1        80,000 km
2        83,450 km
3        73,000 km
4        16,200 km
           ...
15914         - km
15915     9,900 km
15916        15 km
15917        10 km
15918         - km
Name: km, Length: 15919, dtype: object

In [25]:
df.km = df.km.str.strip(" km").str.replace("," , "")
df.km.value_counts(dropna= False)

10       1045
-        1024
1         367
5         170
50        148
         ...
67469       1
43197       1
10027       1
35882       1
57          1
Name: km, Length: 6690, dtype: int64

In [26]:
df.km= df.km.astype("str").replace("-", np.nan).astype(float)
df.km.value_counts(dropna= False)

10.0       1045
NaN        1024
1.0         367
5.0         170
50.0        148
           ...
67469.0       1
43197.0       1
10027.0       1
35882.0       1
57.0          1
Name: km, Length: 6690, dtype: int64

In [27]:
df.km.dtype

dtype('float64')

In [28]:
df.registration.value_counts()

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [29]:
df.registration.dtype

dtype('O')

In [30]:
df.prev_owner.value_counts(dropna = False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [31]:
df.prev_owner= df.prev_owner.str.strip(' previous owners').astype(float)
df.prev_owner.value_counts(dropna= False)

1.0    8294
NaN    6828
2.0     778
3.0      17
4.0       2
Name: prev_owner, dtype: int64

In [32]:
df.k_w.value_counts(dropna= False)

NaN    15919
Name: k_w, dtype: int64

In [33]:
df.hp.value_counts(dropna= False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, Length: 81, dtype: int64

In [34]:
df['hp'] = df.hp.str.strip(" kW")
df['hp'].value_counts()

85     2542
66     2122
81     1402
100    1308
110    1112
       ...
84        1
195       1
44        1
239       1
9         1
Name: hp, Length: 81, dtype: int64

In [35]:
df.hp.sort_values()

13158     -
15472     -
15439     -
11183     -
15438     -
         ..
15318    96
15330    96
15384    98
15382    98
15376    98
Name: hp, Length: 15919, dtype: object

In [36]:
df.hp= df.hp.replace("-", np.nan).astype(float)
df.hp.sort_values()

9285     1.0
10579    1.0
10468    1.0
9289     1.0
9288     1.0
        ...
15641    NaN
15647    NaN
15684    NaN
15791    NaN
15906    NaN
Name: hp, Length: 15919, dtype: float64

In [37]:
df.hp.isna().sum()

88

In [38]:
df['hp'].value_counts()

85.0     2542
66.0     2122
81.0     1402
100.0    1308
110.0    1112
         ...
137.0       1
9.0         1
44.0        1
133.0       1
239.0       1
Name: hp, Length: 80, dtype: int64

In [39]:
df.rename(columns= {'hp': 'hp_kw'}, inplace= True)

In [40]:
df.type.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: type, Length: 170, dtype: int64

In [41]:
df['fuel_type']= [item[-1] if type(item)== list else item for item in df.type]
df['fuel_type']

0                          Diesel (Particulate Filter)
1                                             Gasoline
2                          Diesel (Particulate Filter)
3                          Diesel (Particulate Filter)
4                          Diesel (Particulate Filter)
                             ...
15914                      Diesel (Particulate Filter)
15915    Super 95 / Super Plus 98 (Particulate Filter)
15916                                           Diesel
15917                                           Diesel
15918                                         Super 95
Name: fuel_type, Length: 15919, dtype: object

In [42]:
df['fuel_type'].value_counts(dropna= False)

Diesel (Particulate Filter)                                                                                  4315
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2982
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                          1
Super Plus 98 / Super E10 95                                                                                    1
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95       1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98       1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                    1
Name: fuel_type, Length: 78, dtype: int64

In [43]:
df.shape

(15919, 55)

In [44]:
df.type=[item[1] if type(item)== list else item for item in df.type]
df.type.value_counts(dropna = False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: type, dtype: int64

In [45]:
df['previous_owners'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n111 g CO2/km (comb)\n]                                                                1
[\n1\n, \nEuro 6\n]                                                                             1
[\n2\n, \n119 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n2\n, \n137 g CO2/km (comb)\n]                                                                1
Name: previous_owners, Length: 103, dtype: int64

In [46]:
df['previous_owners']= [item[0] if type(item)== list else item for item in df['previous_owners']]
df['previous_owners']

0        \n2\n
1          NaN
2        \n1\n
3        \n1\n
4        \n1\n
         ...
15914      NaN
15915    \n1\n
15916    \n1\n
15917      NaN
15918    \n1\n
Name: previous_owners, Length: 15919, dtype: object

In [47]:
df['previous_owners'].str.strip("\n")

0          2
1        NaN
2          1
3          1
4          1
        ...
15914    NaN
15915      1
15916      1
15917    NaN
15918      1
Name: previous_owners, Length: 15919, dtype: object

In [48]:
#df['previous_owners'].str.rstrip("\n").str.lstrrip("\n")

In [49]:
df['previous_owners']= df['previous_owners'].str.strip("\n").astype(float)
df['previous_owners']

0        2.0
1        NaN
2        1.0
3        1.0
4        1.0
        ...
15914    NaN
15915    1.0
15916    1.0
15917    NaN
15918    1.0
Name: previous_owners, Length: 15919, dtype: float64

In [50]:
df['previous_owners'].value_counts(dropna= False)

1.0    8294
NaN    6640
2.0     778
0.0     188
3.0      17
4.0       2
Name: previous_owners, dtype: int64

In [51]:
df.prev_owner.value_counts(dropna = False)

1.0    8294
NaN    6828
2.0     778
3.0      17
4.0       2
Name: prev_owner, dtype: int64

In [52]:
df['inspection_new'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                            11987
[\nYes\n, \nEuro 6\n]                                                                            523
\nYes\n                                                                                          362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                               174
[\nYes\n, \n4 (Green)\n]                                                                         166
                                                                                               ...
[\nYes\n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]            1
[\nYes\n, \n, 6.8 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 6.1 l/100 km (country), \n]        1
[\nYes\n, \n, 4.1 l/100 km (comb), \n, 7.5 l/100 km (city), \n, 5.2 l/100 km (country), \n]        1
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.8 l/100 km (city), \n, 4.3 l/100 km (country), \n]        1
[\nYes\n, \n172 g CO2/km (comb)\n]                                                                 1
Name: inspection_new, Length: 203, dtype: int64

In [53]:
df['inspection_new']= [item[0] if type(item)== list else item for item in df['inspection_new']]
df['inspection_new']

0        \nYes\n
1            NaN
2            NaN
3            NaN
4        \nYes\n
          ...
15914        NaN
15915        NaN
15916    \nYes\n
15917        NaN
15918    \nYes\n
Name: inspection_new, Length: 15919, dtype: object

In [54]:
df['inspection_new']=df['inspection_new'].str.strip("\n")
df['inspection_new']

0        Yes
1        NaN
2        NaN
3        NaN
4        Yes
        ...
15914    NaN
15915    NaN
15916    Yes
15917    NaN
15918    Yes
Name: inspection_new, Length: 15919, dtype: object

In [55]:
df['inspection_new'].value_counts(dropna = False)

NaN    11987
Yes     3932
Name: inspection_new, dtype: int64

In [56]:
df['next_inspection'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                       12384
\n04/2022\n                                  62
\n03/2021\n                                  38
\n03/2022\n                                  36
\n06/2021\n                                  34
                                          ...
[\n12/2018\n, \n97 g CO2/km (comb)\n]         1
[\n03/2022\n, \n1 (No sticker)\n]             1
[\n05/2021\n, \n93 g CO2/km (comb)\n]         1
[\n06/2021\n, \n93 g CO2/km (comb)\n]         1
[\n01/2022\n, \n168 g CO2/km (comb)\n]        1
Name: next_inspection, Length: 1400, dtype: int64

In [57]:
df['next_inspection']=[item[0] if type(item)== list else item for item in df['next_inspection']]
df['next_inspection']

0        \n06/2021\n
1                NaN
2                NaN
3                NaN
4                NaN
            ...
15914            NaN
15915    \n01/2022\n
15916            NaN
15917            NaN
15918            NaN
Name: next_inspection, Length: 15919, dtype: object

In [58]:
df['next_inspection']=df['next_inspection'].str.strip('\n')
df['next_inspection']

0        06/2021
1            NaN
2            NaN
3            NaN
4            NaN
          ...
15914        NaN
15915    01/2022
15916        NaN
15917        NaN
15918        NaN
Name: next_inspection, Length: 15919, dtype: object

In [59]:
df['next_inspection'].value_counts(dropna= False)

NaN        12384
06/2021      471
03/2021      210
05/2021      180
04/2021      171
           ...
05/2014        1
04/2016        1
01/1955        1
01/2018        1
11/2022        1
Name: next_inspection, Length: 78, dtype: int64

In [60]:
df.warranty.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                5420
[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: warranty, Length: 516, dtype: int64

In [61]:
df.warranty = [item[0] if type(item)== list else item for item in df.warranty ]
df.warranty

0                   \n
1                  NaN
2                   \n
3                  NaN
4                   \n
             ...
15914    \n24 months\n
15915               \n
15916               \n
15917               \n
15918              NaN
Name: warranty, Length: 15919, dtype: object

In [62]:
df.warranty.value_counts(dropna = False)

\n               5645
NaN              5420
\n12 months\n    2594
\n24 months\n    1118
\n60 months\n     401
\n36 months\n     279
\n48 months\n     149
\n6 months\n      125
\n72 months\n      59
\n3 months\n       33
\n23 months\n      11
\n18 months\n      10
\n20 months\n       7
\n25 months\n       6
\n2 months\n        5
\n50 months\n       4
\n26 months\n       4
\n16 months\n       4
\n1 months\n        3
\n19 months\n       3
\n4 months\n        3
\n34 months\n       3
\n13 months\n       3
\n17 months\n       2
\n45 months\n       2
\n9 months\n        2
\n21 months\n       2
\n14 months\n       2
\n28 months\n       2
\n11 months\n       2
\n22 months\n       2
\n46 months\n       2
\n10 months\n       1
\n8 months\n        1
\n7 months\n        1
\n15 months\n       1
                    1
\n56 months\n       1
\n49 months\n       1
\n65 months\n       1
\n47 months\n       1
\n33 months\n       1
\n40 months\n       1
\n30 months\n       1
Name: warranty, dtype: int64

In [63]:
df.warranty= df.warranty.str.strip("\n")
df.warranty.value_counts(dropna = False)

             5646
NaN          5420
12 months    2594
24 months    1118
60 months     401
36 months     279
48 months     149
6 months      125
72 months      59
3 months       33
23 months      11
18 months      10
20 months       7
25 months       6
2 months        5
16 months       4
26 months       4
50 months       4
1 months        3
19 months       3
13 months       3
4 months        3
34 months       3
21 months       2
9 months        2
14 months       2
45 months       2
17 months       2
28 months       2
11 months       2
22 months       2
46 months       2
8 months        1
7 months        1
15 months       1
10 months       1
56 months       1
49 months       1
65 months       1
47 months       1
33 months       1
40 months       1
30 months       1
Name: warranty, dtype: int64

In [64]:
df.warranty=df.warranty.replace("", np.nan)
df.warranty.value_counts(dropna = False)

NaN          11066
12 months     2594
24 months     1118
60 months      401
36 months      279
48 months      149
6 months       125
72 months       59
3 months        33
23 months       11
18 months       10
20 months        7
25 months        6
2 months         5
50 months        4
26 months        4
16 months        4
4 months         3
1 months         3
19 months        3
34 months        3
13 months        3
28 months        2
22 months        2
14 months        2
11 months        2
46 months        2
21 months        2
9 months         2
17 months        2
45 months        2
33 months        1
40 months        1
65 months        1
10 months        1
15 months        1
7 months         1
8 months         1
56 months        1
49 months        1
47 months        1
30 months        1
Name: warranty, dtype: int64

In [65]:
df.warranty=df.warranty.str.strip(' months').astype(float)
df.warranty.value_counts(dropna= False)

NaN     11066
12.0     2594
24.0     1118
60.0      401
36.0      279
48.0      149
6.0       125
72.0       59
3.0        33
23.0       11
18.0       10
20.0        7
25.0        6
2.0         5
50.0        4
26.0        4
16.0        4
4.0         3
1.0         3
19.0        3
34.0        3
13.0        3
28.0        2
22.0        2
14.0        2
11.0        2
46.0        2
21.0        2
9.0         2
17.0        2
45.0        2
33.0        1
40.0        1
65.0        1
10.0        1
15.0        1
7.0         1
8.0         1
56.0        1
49.0        1
47.0        1
30.0        1
Name: warranty, dtype: int64

In [66]:
df.rename(columns={"warranty": "warranty_in_months"}, inplace= True)

In [67]:
df.head(1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,k_w,hp_kw,type,previous_owners,next_inspection,inspection_new,warranty_in_months,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from,fuel_type
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,56013.0,01/2016,2.0,NaN,66.0,Used,2.0,06/2021,Yes,NaN,"[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diesel (Particulate Filter)

In [68]:
df['full_service'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           7704
[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
                                                                                              ...
[\n, \n, \n80 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n84 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.1 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
Name: full_service, Length: 123, dtype: int64

In [69]:
df.full_service.apply(lambda item: ",".join(item) if type(item) == list else item)

0                               \n,\n
1                                 NaN
2                                 NaN
3        \n,\n,\n99 g CO2/km (comb)\n
4                 \n,\n,\n4 (Green)\n
                     ...
15914                             NaN
15915                             NaN
15916                           \n,\n
15917                             NaN
15918                             NaN
Name: full_service, Length: 15919, dtype: object

In [70]:
df.full_service = df.full_service.apply(lambda item: ",".join(item) if type(item) == list else item)
df.full_service = df.full_service.str.replace("\n",'').str.lstrip(',')
df.full_service

0
1                       NaN
2                       NaN
3        99 g CO2/km (comb)
4                 4 (Green)
                ...
15914                   NaN
15915                   NaN
15916
15917                   NaN
15918                   NaN
Name: full_service, Length: 15919, dtype: object

In [71]:
df['full_service'].value_counts(dropna = False)

NaN                                                                  7704
4 (Green)                                                            2235
Euro 6                                                               2097
                                                                     1985
Euro 6d-TEMP                                                          399
                                                                     ...
6 l/100 km (comb),,8 l/100 km (city),,4.9 l/100 km (country),           1
84 g CO2/km (comb)                                                      1
87 g CO2/km (comb)                                                      1
5.7 l/100 km (comb),,7.3 l/100 km (city),,4.9 l/100 km (country),       1
Euro 4                                                                  1
Name: full_service, Length: 122, dtype: int64

In [72]:
df['full_service'][0]

''

In [73]:
type(df['full_service'][0])

str

In [74]:
df['full_service']= df['full_service'].replace('',  np.nan)
df['full_service']

0                       NaN
1                       NaN
2                       NaN
3        99 g CO2/km (comb)
4                 4 (Green)
                ...
15914                   NaN
15915                   NaN
15916                   NaN
15917                   NaN
15918                   NaN
Name: full_service, Length: 15919, dtype: object

In [75]:
df['full_service'].value_counts(dropna = False)

NaN                                                                  9689
4 (Green)                                                            2235
Euro 6                                                               2097
Euro 6d-TEMP                                                          399
120 g CO2/km (comb)                                                   105
                                                                     ...
6 l/100 km (comb),,8 l/100 km (city),,4.9 l/100 km (country),           1
84 g CO2/km (comb)                                                      1
87 g CO2/km (comb)                                                      1
5.7 l/100 km (comb),,7.3 l/100 km (city),,4.9 l/100 km (country),       1
Euro 4                                                                  1
Name: full_service, Length: 121, dtype: int64

In [76]:
df['non_smoking_vehicle'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           8742
[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
                                                                                              ...
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: non_smoking_vehicle, Length: 95, dtype: int64

In [77]:
## burda bos degerler arasinda fark olusmus neden olabilir ???????

In [78]:
df['non_smoking_vehicle']= df['non_smoking_vehicle'].apply(lambda item: ",".join(item) if type(item) == list else item)
df['non_smoking_vehicle']= df['non_smoking_vehicle'].str.replace("\n",'').str.lstrip(',')
df['non_smoking_vehicle'].value_counts(dropna = False)

NaN                                                                  8742
                                                                     3717
4 (Green)                                                            1240
Euro 6                                                               1127
Euro 6d-TEMP                                                          345
                                                                     ...
6.2 l/100 km (comb),,7.9 l/100 km (city),,5.3 l/100 km (country),       1
91 g CO2/km (comb)                                                      1
101 g CO2/km (comb)                                                     1
5.7 l/100 km (comb),,7.3 l/100 km (city),,4.7 l/100 km (country),       1
175 g CO2/km (comb)                                                     1
Name: non_smoking_vehicle, Length: 94, dtype: int64

In [79]:
df['non_smoking_vehicle']= df['non_smoking_vehicle'].replace('',  np.nan)
df['non_smoking_vehicle'].value_counts(dropna = False)

NaN                                                                  12459
4 (Green)                                                             1240
Euro 6                                                                1127
Euro 6d-TEMP                                                           345
120 g CO2/km (comb)                                                     63
                                                                     ...
6.2 l/100 km (comb),,7.9 l/100 km (city),,5.3 l/100 km (country),        1
91 g CO2/km (comb)                                                       1
101 g CO2/km (comb)                                                      1
5.7 l/100 km (comb),,7.3 l/100 km (city),,4.7 l/100 km (country),        1
175 g CO2/km (comb)                                                      1
Name: non_smoking_vehicle, Length: 93, dtype: int64

In [80]:
df.null.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    15919
Name: null, dtype: int64

In [81]:
df.head(1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,k_w,hp_kw,type,previous_owners,next_inspection,inspection_new,warranty_in_months,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from,fuel_type
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,56013.0,01/2016,2.0,NaN,66.0,Used,2.0,06/2021,Yes,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diesel (Particulate Filter)

In [82]:
df.make.value_counts(dropna = False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: make, dtype: int64

In [83]:
df.make= df.make.str.strip('\n')
df.make.value_counts(dropna = False)

Opel       7343
Audi       5712
Renault    2864
Name: make, dtype: int64

In [84]:
df.model.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: model, dtype: int64

In [85]:
df.model= [item[1] if type(item)== list else item for item in df.model]
df.model

0            A1
1            A1
2            A1
3            A1
4            A1
          ...
15914    Espace
15915    Espace
15916    Espace
15917    Espace
15918    Espace
Name: model, Length: 15919, dtype: object

In [86]:
df.model.value_counts(dropna = False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: model, dtype: int64

In [87]:
df['offer_number'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                               3175
[\nLT67679\n]                                       27
[\nUN89904\n]                                       27
[\nXJ38068\n]                                       27
[\nJV03654\n]                                       27
                                                  ...
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]       1
[\n6701576\n]                                        1
[\n6701569\n]                                        1
[\n158121\n]                                         1
[\nRe_30000008029\n]                                 1
Name: offer_number, Length: 11441, dtype: int64

In [88]:
df['offer_number']= [item[0] if type(item)== list else item for item in df['offer_number']]
df['offer_number'].value_counts(dropna = False)

NaN                                             3175
\nLT67679\n                                       27
\nUN89904\n                                       27
\nXJ38068\n                                       27
\nJV03654\n                                       27
                                                ...
\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n       1
\n6701576\n                                        1
\n6701569\n                                        1
\n158121\n                                         1
\nRe_30000008029\n                                 1
Name: offer_number, Length: 11441, dtype: int64

In [89]:
df['offer_number']= df['offer_number'].str.strip("\n")
df['offer_number'].value_counts(dropna = False)

NaN                                         3175
LT67679                                       27
UN89904                                       27
XJ38068                                       27
JV03654                                       27
                                            ...
160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b       1
6701576                                        1
6701569                                        1
158121                                         1
Re_30000008029                                 1
Name: offer_number, Length: 11441, dtype: int64

In [90]:
df['first_registration'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
Name: first_registration, dtype: int64

In [91]:
df['first_registration']= [item[1] if type(item)== list else item for item in df['first_registration']]

df['first_registration'].value_counts()

2018    4522
2016    3674
2017    3273
2019    2853
Name: first_registration, dtype: int64

In [92]:
df['first_registration'].value_counts(dropna= False)

2018    4522
2016    3674
2017    3273
2019    2853
NaN     1597
Name: first_registration, dtype: int64

In [93]:
df.registration.value_counts()

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [94]:
df['reg']=df.registration.str.split('/', n=1, expand= True)[1]

In [95]:
df.reg= df.reg.replace('-', np.nan).astype(float)

In [96]:
df.reg.value_counts(dropna= False)

2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
NaN       1597
Name: reg, dtype: int64

In [97]:
df.drop('reg', axis= 1, inplace= True)

In [98]:
df['paint_type'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: paint_type, dtype: int64

In [99]:
df['paint_type']= [item[0] if type(item)== list else item for item in df['paint_type']]
df['paint_type'].value_counts(dropna = False)

\nMetallic\n       9794
NaN                5772
\nUni/basic\n       347
\nPerl effect\n       6
Name: paint_type, dtype: int64

In [100]:
df['paint_type']= df['paint_type'].str.strip("\n")
df['paint_type'].value_counts(dropna = False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

In [101]:
df['body_color'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: body_color, dtype: int64

In [102]:
df['body_color']=[item[1] if type(item)== list else item for item in df['body_color']]
df['body_color'].value_counts(dropna = False)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

In [103]:
df['body_color_original'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                    3759
[\nOnyx Schwarz\n]                      338
[\nBianco\n]                            282
[\nMythosschwarz Metallic\n]            238
[\nBrillantschwarz\n]                   216
                                       ...
[\nRouge-Braun (G0Y)\n]                   1
[\nVARI COLRI DISPONIBILI\n]              1
[\nKokosnussbraun Metallic\n]             1
[\nFarbe frei wählbar\n]                  1
[\nPerlmutt-Weiß Metallic (Weiß)\n]       1
Name: body_color_original, Length: 1928, dtype: int64

In [104]:
df['body_color_original']=[item[0] if type(item)== list else item for item in df['body_color_original']]
df['body_color_original'].value_counts(dropna = False)

NaN                                  3759
\nOnyx Schwarz\n                      338
\nBianco\n                            282
\nMythosschwarz Metallic\n            238
\nBrillantschwarz\n                   216
                                     ...
\nRouge-Braun (G0Y)\n                   1
\nVARI COLRI DISPONIBILI\n              1
\nKokosnussbraun Metallic\n             1
\nFarbe frei wählbar\n                  1
\nPerlmutt-Weiß Metallic (Weiß)\n       1
Name: body_color_original, Length: 1928, dtype: int64

In [105]:
df['body_color_original']=df['body_color_original'].str.strip("\n")
df['body_color_original'].value_counts(dropna = False)

NaN                              3759
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: body_color_original, Length: 1928, dtype: int64

In [106]:
df.upholstery.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nPart leather, White\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara, Other\n]          2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nBlue\n]                      2
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
Name: upholstery, dtype: int64

In [107]:
df.upholstery=[item[0] if type(item)== list else item for item in df.upholstery]
df.upholstery.value_counts(dropna = False)

\nCloth, Black\n           5821
NaN                        3720
\nPart leather, Black\n    1121
\nCloth\n                  1005
\nCloth, Grey\n             891
\nCloth, Other\n            639
\nFull leather, Black\n     575
\nBlack\n                   491
\nGrey\n                    273
\nOther, Other\n            182
\nPart leather\n            140
\nFull leather\n            139
\nFull leather, Brown\n     116
\nPart leather, Grey\n      116
\nOther, Black\n            110
\nFull leather, Other\n      72
\nFull leather, Grey\n       67
\nPart leather, Other\n      65
\nOther\n                    56
\nPart leather, Brown\n      50
\nalcantara, Black\n         47
\nVelour, Black\n            36
\nFull leather, Beige\n      36
\nCloth, Brown\n             28
\nVelour\n                   16
\nOther, Grey\n              15
\nCloth, Beige\n             13
\nBrown\n                    12
\nCloth, Blue\n              12
\nVelour, Grey\n              8
\nCloth, White\n              8
\nalcantara, Grey\n           6
\nCloth, Red\n                5
\nOther, Yellow\n             4
\nPart leather, Red\n         3
\nBeige\n                     3
\nPart leather, White\n       2
\nFull leather, Blue\n        2
\nalcantara, Other\n          2
\nalcantara\n                 2
\nWhite\n                     2
\nPart leather, Beige\n       2
\nBlue\n                      2
\nCloth, Orange\n             1
\nFull leather, Red\n         1
\nOther, Brown\n              1
\nFull leather, White\n       1
Name: upholstery, dtype: int64

In [108]:
df.upholstery=df.upholstery.str.strip("\n")
df.upholstery.value_counts(dropna = False)

Cloth, Black           5821
NaN                    3720
Part leather, Black    1121
Cloth                  1005
Cloth, Grey             891
Cloth, Other            639
Full leather, Black     575
Black                   491
Grey                    273
Other, Other            182
Part leather            140
Full leather            139
Full leather, Brown     116
Part leather, Grey      116
Other, Black            110
Full leather, Other      72
Full leather, Grey       67
Part leather, Other      65
Other                    56
Part leather, Brown      50
alcantara, Black         47
Velour, Black            36
Full leather, Beige      36
Cloth, Brown             28
Velour                   16
Other, Grey              15
Cloth, Beige             13
Brown                    12
Cloth, Blue              12
Velour, Grey              8
Cloth, White              8
alcantara, Grey           6
Cloth, Red                5
Other, Yellow             4
Part leather, Red         3
Beige                     3
Part leather, White       2
Full leather, Blue        2
alcantara, Other          2
alcantara                 2
White                     2
Part leather, Beige       2
Blue                      2
Cloth, Orange             1
Full leather, Red         1
Other, Brown              1
Full leather, White       1
Name: upholstery, dtype: int64

In [109]:
df.upholstery.str.contains('leather|Cloth|alcantara|Velour|Other', na=False, regex=True).sum()

11416

In [110]:
uph_clmn = df.upholstery.astype('string')
uph_clmn[uph_clmn.isna()] = 'Null'
uph_clmn.loc[uph_clmn.str.contains('Full leather')] = 'Full leather'
uph_clmn.loc[uph_clmn.str.contains('Part leather')] = 'Part leather'
uph_clmn.loc[uph_clmn.str.contains('alcantara')] = 'alcantara'
uph_clmn.loc[uph_clmn.str.contains('Cloth')] = 'Cloth'
uph_clmn.loc[uph_clmn.str.contains('Velour')] = 'Velour'
uph_clmn.loc[uph_clmn.str.contains('Other')] = 'Other'
uph_clmn.str.contains('leather|Cloth|alcantara|Velour|Other', na=False, regex=True).sum()

11416

In [112]:
uph_clmn.value_counts()

Cloth           8423
Null            3720
Part leather    1499
Full leather    1009
Black            491
Other            368
Grey             273
Velour            60
alcantara         57
Brown             12
Beige              3
Blue               2
White              2
Name: upholstery, dtype: Int64

In [113]:
uph_clmn = uph_clmn.apply(lambda x: x if x in ['Full leather','Part leather','Cloth','alcantara','Velour','Other'] else np.nan)
uph_clmn.value_counts(dropna=False)

Cloth           8423
NaN             4503
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
Name: upholstery, dtype: int64

In [114]:
df['seat_cover'] = uph_clmn

In [334]:
df.body.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: body, dtype: int64

In [335]:
df.body=[item[1] if type(item)== list else item for item in df.body]
df.body.value_counts(dropna = False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body, dtype: int64

In [336]:
df['nr_of_doors'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n1\n]        1
[\n7\n]        1
Name: nr_of_doors, dtype: int64

In [337]:
df['nr_of_doors']=[item[0] if type(item)== list else item for item in df['nr_of_doors']]
df['nr_of_doors'].value_counts(dropna = False)

\n5\n    11575
\n4\n     3079
\n3\n      832
\n2\n      219
NaN        212
\n1\n        1
\n7\n        1
Name: nr_of_doors, dtype: int64

In [338]:
df['nr_of_doors']= df['nr_of_doors'].str.strip('\n').astype(float)
df['nr_of_doors'].value_counts(dropna = False)

5.0    11575
4.0     3079
3.0      832
2.0      219
NaN      212
1.0        1
7.0        1
Name: nr_of_doors, dtype: int64

In [339]:
df['nr_of_seats'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: nr_of_seats, dtype: int64

In [340]:
df['nr_of_seats']=[item[0] if type(item)== list else item for item in df['nr_of_seats']]
df['nr_of_seats'].value_counts(dropna = False)

\n5\n    13336
\n4\n     1125
NaN        977
\n7\n      362
\n2\n      116
\n6\n        2
\n3\n        1
Name: nr_of_seats, dtype: int64

In [341]:
df['nr_of_seats']= df['nr_of_seats'].str.strip('\n').astype(float)
df['nr_of_seats'].value_counts(dropna = False)

5.0    13336
4.0     1125
NaN      977
7.0      362
2.0      116
6.0        2
3.0        1
Name: nr_of_seats, dtype: int64

In [342]:
df.nr_of_seats.dtype

dtype('float64')

In [343]:
df['model_code'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               10941
[\n0035/BCB\n]      268
[\n0588/BNO\n]      245
[\n0588/BDB\n]      206
[\n0588/BHX\n]      188
                  ...
[\n0035/AVN\n]        1
[\n0035/BEM\n]        1
[\n0035/BAG\n]        1
[\n0035/BAA\n]        1
[\n3333/BKG\n]        1
Name: model_code, Length: 233, dtype: int64

In [344]:
df['model_code']=[item[0] if type(item)== list else item for item in df['model_code']]
df['model_code'].value_counts(dropna = False)

NaN             10941
\n0035/BCB\n      268
\n0588/BNO\n      245
\n0588/BDB\n      206
\n0588/BHX\n      188
                ...
\n0035/AVN\n        1
\n0035/BEM\n        1
\n0035/BAG\n        1
\n0035/BAA\n        1
\n3333/BKG\n        1
Name: model_code, Length: 233, dtype: int64

In [345]:
df['model_code']=df['model_code'].str.strip("\n")
df['model_code'].value_counts(dropna = False)

NaN         10941
0035/BCB      268
0588/BNO      245
0588/BDB      206
0588/BHX      188
            ...
0035/AVN        1
0035/BEM        1
0035/BAG        1
0035/BAA        1
3333/BKG        1
Name: model_code, Length: 233, dtype: int64

In [346]:
df['gearing_type'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: gearing_type, dtype: int64

In [347]:
df['gearing_type']=[item[1] if type(item)== list else item for item in df['gearing_type']]
df['gearing_type'].value_counts(dropna = False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: gearing_type, dtype: int64

In [348]:
df.displacement.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
                  ...
[\n122 cc\n]         1
[\n1,198 cc\n]       1
[\n1,195 cc\n]       1
[\n2,967 cc\n]       1
[\n1,800 cc\n]       1
Name: displacement, Length: 78, dtype: int64

In [349]:
df.displacement= [item[0] if type(item)== list else item for item in df.displacement]
df.displacement.value_counts(dropna = False)

\n1,598 cc\n    4761
\n999 cc\n      2438
\n1,398 cc\n    1314
\n1,399 cc\n     749
\n1,229 cc\n     677
                ...
\n122 cc\n         1
\n1,198 cc\n       1
\n1,195 cc\n       1
\n2,967 cc\n       1
\n1,800 cc\n       1
Name: displacement, Length: 78, dtype: int64

In [350]:
df.displacement.str.strip("\ncc")

0        1,422
1        1,798
2        1,598
3        1,422
4        1,422
          ...
15914    1,997
15915    1,798
15916    1,997
15917    1,997
15918    1,798
Name: displacement, Length: 15919, dtype: object

In [351]:
df.displacement=df.displacement.str.strip("\ncc").str.replace("," , ".").astype(float)
df.displacement.value_counts(dropna = False)

1.598      4761
999.000    2438
1.398      1314
1.399       749
1.229       677
           ...
1.390         1
122.000       1
1.195         1
2.967         1
1.800         1
Name: displacement, Length: 76, dtype: int64

In [352]:
df.rename(columns= {'displacement':'displacement_in_cc'}, inplace= True)

In [353]:
df.head(1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,k_w,hp_kw,type,previous_owners,next_inspection,inspection_new,warranty_in_months,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,body,nr_of_doors,nr_of_seats,model_code,gearing_type,displacement_in_cc,cylinders,weight,drive_chain,fuel,consumption,co_2_emission,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from,fuel_type
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,56013.0,01/2016,2.0,NaN,66.0,Used,2.0,06/2021,Yes,NaN,NaN,NaN,[],Audi,A1,LR-062483,2016,Black,Metallic,Mythosschwarz,"Cloth, Black",Sedans,5.0,5.0,0588/BDF,Automatic,1.422,[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diesel (Particulate Filter)

In [354]:
df.cylinders.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: cylinders, dtype: int64

In [355]:
df.cylinders=[item[0] if type(item)== list else item for item in df.cylinders]
df.cylinders=df.cylinders.str.strip("\n")
df.cylinders.value_counts(dropna = False)

4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: cylinders, dtype: int64

In [356]:
df.cylinders= df.cylinders.astype(float)
df.cylinders.value_counts(dropna = False)

4.0    8105
NaN    5680
3.0    2104
5.0      22
6.0       3
8.0       2
2.0       2
1.0       1
Name: cylinders, dtype: int64

In [357]:
df.cylinders

0        3.0
1        4.0
2        NaN
3        3.0
4        3.0
        ...
15914    4.0
15915    4.0
15916    4.0
15917    4.0
15918    4.0
Name: cylinders, Length: 15919, dtype: float64

In [358]:
df.weight.value_counts(dropna= False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               6974
[\n1,163 kg\n]     574
[\n1,360 kg\n]     356
[\n1,165 kg\n]     301
[\n1,335 kg\n]     242
                  ...
[\n1,960 kg\n]       1
[\n1,258 kg\n]       1
[\n1,167 kg\n]       1
[\n1,331 kg\n]       1
[\n2,037 kg\n]       1
Name: weight, Length: 435, dtype: int64

In [359]:
df.weight=[item[0] if type(item)== list else item for item in df.weight]
df.weight=df.weight.str.strip("\n").str.strip(" kg").str.replace(',', '.').astype(float)
df.weight.value_counts(dropna = False)

NaN      6974
1.163     574
1.360     356
1.165     301
1.335     242
         ...
1.960       1
1.258       1
1.167       1
1.331       1
2.037       1
Name: weight, Length: 435, dtype: int64

In [360]:
df['drive_chain'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
NaN            6858
[\n4WD\n]       171
[\nrear\n]        4
Name: drive_chain, dtype: int64

In [361]:
df.drive_chain=[item[0] if type(item)== list else item for item in df.drive_chain]
df.drive_chain=df.drive_chain.str.strip("\n")
df.drive_chain.value_counts(dropna = False)

front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64

In [362]:
df.fuel.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
                                                                                                                       ...
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91, \n]                                                          1
[\n, Super Plus 98 / Super E10 95, \n]                                                                                    1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]       1
[\n, Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98, \n]       1
[\n, Super Plus 98 / Super 95 / Super Plus E10 98, \n]                                                                    1
Name: fuel, Length: 77, dtype: int64

In [363]:
df.fuel= [item[1] if type(item)== list else item for item in df.fuel]
df.fuel.value_counts(dropna = False)

Diesel (Particulate Filter)                                                                                  4315
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2984
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                          1
Super Plus 98 / Super E10 95                                                                                    1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98       1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98       1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                    1
Name: fuel, Length: 77, dtype: int64

In [364]:
df.consumption.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: consumption, Length: 882, dtype: int64

In [365]:
df['consumption_comb(l/100_km)']=[item[0] if type(item) == list else item for item in df.consumption]
df['consumption_comb(l/100_km)']

0        [3.8 l/100 km (comb)]
1        [5.6 l/100 km (comb)]
2        [3.8 l/100 km (comb)]
3        [3.8 l/100 km (comb)]
4        [4.1 l/100 km (comb)]
                 ...
15914    [5.3 l/100 km (comb)]
15915                       \n
15916    [5.3 l/100 km (comb)]
15917    [5.3 l/100 km (comb)]
15918    [6.8 l/100 km (comb)]
Name: consumption_comb(l/100_km), Length: 15919, dtype: object

In [366]:
df['consumption_city(l/100_km)'] = [item[1] if type(item) == list else item for item in df.consumption]

In [367]:
df['consumption_country(l/100_km)'] = [item[2] if type(item) == list else item for item in df.consumption]

In [368]:
df['consumption_comb(l/100_km)'] = df['consumption_comb(l/100_km)'].astype('string').str.strip("['\nkg l/100 km (comb)']")
df['consumption_comb(l/100_km)']

0        3.8
1        5.6
2        3.8
3        3.8
4         4.
        ...
15914    5.3
15915
15916    5.3
15917    5.3
15918    6.8
Name: consumption_comb(l/100_km), Length: 15919, dtype: string

In [369]:
df['consumption_comb(l/100_km)'] = df['consumption_comb(l/100_km)'].replace('',np.nan).astype(float)

In [370]:
df['consumption_comb(l/100_km)'].value_counts(dropna= False)

NaN     2921
5.0     1148
4.0     1055
3.9      732
5.4      663
4.4      595
3.8      586
5.6      568
4.7      555
4.8      523
4.5      511
5.2      429
4.6      420
6.0      413
4.2      408
5.3      375
3.7      369
4.9      348
5.5      342
5.9      308
3.3      307
5.7      302
4.3      295
3.5      288
3.6      194
6.2      184
5.8      142
6.3      141
6.8      134
6.6      119
3.4      106
3.0       76
6.4       64
7.4       62
7.0       47
6.5       36
6.7       33
3.2       25
6.9       21
8.3       20
7.6       14
8.0        7
7.2        6
7.8        6
8.6        3
8.7        3
38.0       2
7.9        2
7.3        2
43.0       1
9.0        1
7.5        1
55.0       1
54.0       1
0.2        1
32.0       1
33.0       1
46.0       1
Name: consumption_comb(l/100_km), dtype: int64

In [371]:
df['consumption_city(l/100_km)'] = df['consumption_city(l/100_km)'].astype('string').str.strip("['\nkg l/100 km (comb) (city)'.]")

In [372]:
df['consumption_city(l/100_km)'] = df['consumption_city(l/100_km)'].replace('',np.nan).astype(float)

In [373]:
df['consumption_country(l/100_km)'] = df['consumption_country(l/100_km)'].astype('string').str.strip("['\nkg l/100 km (comb) (city)(country)'.]")

In [374]:
df['consumption_country(l/100_km)'] = df['consumption_country(l/100_km)'].replace('',np.nan).astype(float)

In [375]:
df['consumption_country(l/100_km)'].value_counts(dropna= False)

NaN     3254
4.0     1124
4.2     1101
3.7     1059
4.4      829
4.5      789
3.8      775
3.9      759
3.0      624
4.7      562
3.5      525
4.3      496
3.6      486
3.3      456
4.6      446
4.9      410
3.4      353
5.0      321
4.8      289
5.3      227
5.7      191
5.4      190
3.2      180
5.6      131
5.2       84
6.3       49
6.0       36
5.5       30
5.8       30
7.7       20
6.6       19
2.9       16
6.4       15
2.8        9
7.0        5
44.0       4
7.3        4
6.5        4
37.0       2
6.9        2
35.0       2
5.9        2
7.8        2
6.7        2
2.0        1
8.0        1
8.6        1
7.6        1
42.0       1
Name: consumption_country(l/100_km), dtype: int64

In [376]:
df.co_2_emission.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n14 g CO2/km (comb)\n]          1
[\n1,060 g CO2/km (comb)\n]       1
[\n51 g CO2/km (comb)\n]          1
[\n165 g CO2/km (comb)\n]         1
[\n193 g CO2/km (comb)\n]         1
Name: co_2_emission, Length: 124, dtype: int64

In [377]:
df.co_2_emission

0         [\n99 g CO2/km (comb)\n]
1        [\n129 g CO2/km (comb)\n]
2         [\n99 g CO2/km (comb)\n]
3         [\n99 g CO2/km (comb)\n]
4        [\n109 g CO2/km (comb)\n]
                   ...
15914    [\n139 g CO2/km (comb)\n]
15915    [\n168 g CO2/km (comb)\n]
15916    [\n139 g CO2/km (comb)\n]
15917    [\n139 g CO2/km (comb)\n]
15918    [\n153 g CO2/km (comb)\n]
Name: co_2_emission, Length: 15919, dtype: object

In [378]:
df.co_2_emission= [item[0] if type(item)== list else item for item in df.co_2_emission]
df.co_2_emission

0         \n99 g CO2/km (comb)\n
1        \n129 g CO2/km (comb)\n
2         \n99 g CO2/km (comb)\n
3         \n99 g CO2/km (comb)\n
4        \n109 g CO2/km (comb)\n
                  ...
15914    \n139 g CO2/km (comb)\n
15915    \n168 g CO2/km (comb)\n
15916    \n139 g CO2/km (comb)\n
15917    \n139 g CO2/km (comb)\n
15918    \n153 g CO2/km (comb)\n
Name: co_2_emission, Length: 15919, dtype: object

In [379]:
df.co_2_emission= df.co_2_emission.str.strip("\n")
df.co_2_emission

0         99 g CO2/km (comb)
1        129 g CO2/km (comb)
2         99 g CO2/km (comb)
3         99 g CO2/km (comb)
4        109 g CO2/km (comb)
                ...
15914    139 g CO2/km (comb)
15915    168 g CO2/km (comb)
15916    139 g CO2/km (comb)
15917    139 g CO2/km (comb)
15918    153 g CO2/km (comb)
Name: co_2_emission, Length: 15919, dtype: object

In [380]:
df.co_2_emission= df.co_2_emission.str.strip(' g CO2/km (comb)')
df.co_2_emission

0         99
1        129
2         99
3         99
4        109
        ...
15914    139
15915    168
15916    139
15917    139
15918    153
Name: co_2_emission, Length: 15919, dtype: object

In [381]:
df.co_2_emission.value_counts(dropna= False)

NaN       2436
120        740
99         545
97         537
104        501
          ...
990          1
12,324       1
1,060        1
51           1
193          1
Name: co_2_emission, Length: 121, dtype: int64

In [382]:
df.co_2_emission= df.co_2_emission.str.replace(',', '.').astype(float)

In [383]:
df.co_2_emission.value_counts(dropna= False)

NaN        2436
120.000     740
99.000      545
97.000      537
104.000     501
           ...
990.000       1
12.324        1
1.060         1
51.000        1
193.000       1
Name: co_2_emission, Length: 121, dtype: int64

In [384]:
df.co_2_emission.dtype

dtype('float64')

In [385]:
df.rename(columns={'co_2_emission': 'co2/km(comb)_emission_in_g'}, inplace= True)

In [386]:
df.emission_class.value_counts(dropna= False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: emission_class, dtype: int64

In [387]:
df.emission_class= [item[0] if type(item)== list else item for item in df.emission_class]
df.emission_class= df.emission_class.str.strip('\n')
df.emission_class.value_counts(dropna= False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: emission_class, dtype: int64

In [388]:
# Mete abi bu sütunu arastiracak: 6d temp , 6d, 6c arasindaki fark

In [389]:
df['comfort_&_convenience']

0        [Air conditioning, Armrest, Automatic climate ...
1        [Air conditioning, Automatic climate control, ...
2        [Air conditioning, Cruise control, Electrical ...
3        [Air suspension, Armrest, Auxiliary heating, E...
4        [Air conditioning, Armrest, Automatic climate ...
                               ...
15914    [Air conditioning, Automatic climate control, ...
15915    [Air conditioning, Automatic climate control, ...
15916    [Air conditioning, Armrest, Automatic climate ...
15917    [Air conditioning, Automatic climate control, ...
15918    [Air conditioning, Automatic climate control, ...
Name: comfort_&_convenience, Length: 15919, dtype: object

In [390]:
df['comfort_&_convenience']= df['comfort_&_convenience'].astype('string').str.strip('[]')

In [391]:
df['comfort_&_convenience'].dtype

string[python]

In [392]:
type(df['comfort_&_convenience'][0])

str

In [393]:
df['entertainment_&_media']= df['entertainment_&_media'].astype('string').str.strip('[]')

In [394]:
df['entertainment_&_media'][0]

"'Bluetooth', 'Hands-free equipment', 'On-board computer', 'Radio'"

In [395]:
df.extras= df.extras.astype('string').str.strip('[]')

In [396]:
df.extras[0]

"'Alloy wheels', 'Catalytic Converter', 'Voice Control'"

In [397]:
df['safety_&_security']= df['safety_&_security'].astype('string').str.strip('[]')

In [398]:
df['safety_&_security'][0]

"'ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Fog lights', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control', 'Xenon headlights'"

In [399]:
df.description= df.description.astype('string').str.strip("[]")
df.description

0        '\n', 'Sicherheit:', ' ', 'Deaktivierung für B...
1        '\nLangstreckenfahrzeug daher die hohe Kilomet...
2        '\n', 'Fahrzeug-Nummer: AM-95365', ' ', 'Ehem....
3        '\nAudi A1: ', '- 1e eigenaar ', '- Perfecte s...
4        '\n', 'Technik & Sicherheit:', 'Xenon plus', '...
                               ...
15914    '\nVettura visionabile nella sede in Via Roma ...
15915    '\nDach: Panorama-Glas-Schiebedach, Lackierung...
15916    '\n', 'Getriebe:', ' Automatik', 'Technik:', '...
15917    '\nDEK:[2691331]', 'Renault Espace Blue dCi 20...
15918    '\n', 'Sicherheit Airbags:', ' ', 'Seitenairba...
Name: description, Length: 15919, dtype: string

In [400]:
df.description[0]

"'\\n', 'Sicherheit:', ' ', 'Deaktivierung für Beifahrer-Airbag', ' ', 'ESC mit elektronischer Quersperre', ' ', 'Tagfahrlicht', ' ', 'Reifendruck-Kontrollanzeige', ' ', 'Kopfairbag-System mit Seiten-Airbags vorn', ' ', 'Sicherheitslenksäule', 'Assistenzsysteme:', ' ', 'Berganfahrassistent', 'Komfort:', ' ', 'Scheinwerferreinigung', ' ', 'Xenon plus inklusive Scheinwerfer-Reinigungsanlage', ' ', 'Scheinwerfer-Reinigungsanlage', ' ', 'Einparkhilfe hinten', ' ', 'Licht-/Regensensor', ' ', 'Funkfernbedienung', ' ', 'Elektrische Luftzusatzheizung', 'Interieur:', ' ', 'Rücksitzanlage 2 + 1', ' ', 'Multifunktions-Sportlederlenkrad im 3-Speichen-Design', ' ', 'automatische Leuchtweitenregulierung', ' ', 'Fahrerinformationssystem', ' ', 'Staub- und Pollenfilter', ' ', 'Kopfstützen hinten (3 Stück)', ' ', 'Stoff Zeitgeist', ' ', 'Fahrersitz manuell höheneinstellbar', ' ', 'Scheiben seitlich und hinten in Wärmeschutzverglasung', ' ', 'Kindersitzbefestigung ISOFIX und Top Tether für die äußeren Fondsitze', ' ', 'Dachhimmel in Stoff titangrau', ' ', 'Waschwasser-Standanzeige', ' ', 'Nichtraucherfahrzeug', 'Exterieur:', ' ', 'Elektrische Aussenspiegel', ' ', 'Außenspiegel elektrisch beheizbar inklusive beheizbarer Scheibenwaschdüsen', ' ', 'Scheibenwaschdüsen beheizbar vorn', ' ', 'Aluminium-Gussräder im 10-Speichen-Design Größe 7 J x 16 mit Reifen 215/45 R 16', ' ', 'LED-Heckleuchten', ' ', 'Dynamikfahrwerk', ' ', 'Reifenreparaturset', ' ', 'Heckscheibenwischer mit Wasch-Wisch-Automatik', 'Umwelt:', ' ', 'Start-Stop-System', ' ', 'Abgaskonzept EU6 plus', 'Multimedia:', ' ', 'Radio mit Dreifachtuner und Phasendiversity', ' ', 'Bluetooth-Schnittstelle', ' ', 'media-Paket', ' ', 'Sprachdialogsystem', ' ', 'MMI® Navigation plus', 'Getriebe:', ' ', '7-Gang-Automatikgetriebe', 'Sonstiges:', ' ', 'Scheckheft gepflegt', ' ', 'Frontscheibe mit grauem Colorstreifen am oberen Rand', ' ', 'Verbau der Startbatterie hinten ohne zweite Batterie', ' ', 'GebrauchtwagenPlus', ' ', 'Eingabefehler Irrtümer und Zwischenverkauf vorbehalten. Die gemachten Angaben in Anzeigen Internet Preisschildern und Bildern sind unverbindliche Beschreibungen und dienen nicht als zugesicherte Eigenschaften. Der Verkäufer übernimmt keine Haftung für Tipp- und Datenübermittlungsfehlern. Aufgeführte Ausstattungen sind ggfs. gesondert zu prüfen. Alle Angaben in den Inseraten sind unverbindlich und ohne Gewähr. Wir freuen uns auf Ihren Besuch.', '\\n'"

In [401]:
df.emission_label.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     11934
[\n4 (Green)\n]          3553
[\n1 (No sticker)\n]      381
[[], [], []]               40
[\n5 (Blue)\n]              8
[\n3 (Yellow)\n]            2
[\n2 (Red)\n]               1
Name: emission_label, dtype: int64

In [402]:
df.gears.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: gears, dtype: int64

In [403]:
df.gears= [item[0] if type(item)== list else item for item in df.gears]
df.gears= df.gears.str.strip('\n').astype(float)
df.gears.value_counts(dropna=False)

6.0     5822
NaN     4712
5.0     3239
7.0     1908
8.0      224
9.0        6
1.0        2
3.0        2
4.0        2
2.0        1
50.0       1
Name: gears, dtype: int64

In [404]:
df.country_version.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     8333
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nSerbia\n]               1
Name: country_version, dtype: int64

In [405]:
df.country_version= [item[0] if type(item)== list else item for item in df.country_version]
df.country_version= df.country_version.str.strip('\n')
df.country_version.value_counts(dropna=False)

NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_version, dtype: int64

In [406]:
df.electricity_consumption.value_counts(dropna= False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                          15782
[\n0 kWh/100 km (comb)\n]      137
Name: electricity_consumption, dtype: int64

df.columns

In [407]:
df.last_service_date

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914    NaN
15915    NaN
15916    NaN
15917    NaN
15918    NaN
Name: last_service_date, Length: 15919, dtype: object

In [408]:
df.last_service_date.value_counts(dropna= False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                       15353
[\n02/2019\n, \nEuro 6\n]                    23
[\n05/2019\n, \nEuro 6\n]                    16
[\n01/2018\n, \n118 g CO2/km (comb)\n]       15
[\n03/2019\n, \nEuro 6\n]                    15
                                          ...
[\n01/2017\n, \n95 g CO2/km (comb)\n]         1
[\n06/2019\n, \n87 g CO2/km (comb)\n]         1
[\n10/2018\n, \n100 g CO2/km (comb)\n]        1
[\n02/2018\n, \n97 g CO2/km (comb)\n]         1
[\n03/2019\n, \n120 g CO2/km (comb)\n]        1
Name: last_service_date, Length: 267, dtype: int64

In [409]:
df.last_service_date =  [item[0] if type(item)== list else item for item in df.last_service_date]
df.last_service_date.value_counts()

\n05/2019\n    61
\n02/2019\n    55
\n01/2019\n    51
\n06/2019\n    49
\n04/2019\n    48
\n03/2019\n    47
\n12/2018\n    32
\n10/2018\n    24
\n06/2018\n    21
\n05/2018\n    21
\n07/2018\n    21
\n01/2018\n    20
\n09/2018\n    17
\n11/2018\n    17
\n04/2018\n    16
\n08/2018\n    13
\n03/2018\n     9
\n06/2017\n     7
\n02/2018\n     5
\n05/2017\n     3
\n12/2017\n     3
\n02/2017\n     3
\n10/2017\n     3
\n01/2017\n     3
\n11/2017\n     2
\n06/2016\n     2
\n04/2016\n     2
\n07/2017\n     2
\n11/2019\n     1
\n10/2019\n     1
\n07/2019\n     1
\n03/2016\n     1
\n09/2019\n     1
\n08/2019\n     1
\n09/2017\n     1
\n05/2016\n     1
\n04/2017\n     1
Name: last_service_date, dtype: int64

In [410]:
df.last_service_date=df.last_service_date.str.strip("\n")
df.last_service_date.value_counts(dropna= False)

NaN        15353
05/2019       61
02/2019       55
01/2019       51
06/2019       49
04/2019       48
03/2019       47
12/2018       32
10/2018       24
06/2018       21
05/2018       21
07/2018       21
01/2018       20
09/2018       17
11/2018       17
04/2018       16
08/2018       13
03/2018        9
06/2017        7
02/2018        5
05/2017        3
12/2017        3
02/2017        3
10/2017        3
01/2017        3
11/2017        2
06/2016        2
04/2016        2
07/2017        2
11/2019        1
10/2019        1
07/2019        1
03/2016        1
09/2019        1
08/2019        1
09/2017        1
05/2016        1
04/2017        1
Name: last_service_date, dtype: int64

In [411]:
df.other_fuel_types.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN             15039
[[], [], []]      880
Name: other_fuel_types, dtype: int64

In [412]:
df.head(1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,k_w,hp_kw,type,previous_owners,next_inspection,inspection_new,warranty_in_months,full_service,non_smoking_vehicle,null,make,model,offer_number,first_registration,body_color,paint_type,body_color_original,upholstery,...,gearing_type,displacement_in_cc,cylinders,weight,drive_chain,fuel,consumption,co2/km(comb)_emission_in_g,emission_class,comfort_&_convenience,entertainment_&_media,extras,safety_&_security,description,emission_label,gears,country_version,electricity_consumption,last_service_date,other_fuel_types,availability,last_timing_belt_service_date,available_from,fuel_type,consumption_comb(l/100_km),consumption_city(l/100_km),consumption_country(l/100_km)
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,56013.0,01/2016,2.0,NaN,66.0,Used,2.0,06/2021,Yes,NaN,NaN,NaN,[],Audi,A1,LR-062483,2016,Black,Metallic,Mythosschwarz,"Cloth, Black",...,Automatic,1.422,3.0,1.22,front,Diesel (Particulate Filter),"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",99.0,Euro 6,"'Air conditioning', 'Armrest', 'Automatic clim...","'Bluetooth', 'Hands-free equipment', 'On-board...","'Alloy wheels', 'Catalytic Converter', 'Voice ...","'ABS', 'Central door lock', 'Daytime running l...","'\n', 'Sicherheit:', ' ', 'Deaktivierung für B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diesel (Particulate Filter),3.8,4.3,3.5

In [413]:
df.availability.value_counts(dropna= False)

NaN                              15284
\nin 90 days from ordering\n       196
\nin 120 days from ordering\n      182
\nin 1 day from ordering\n          51
\nin 5 days from ordering\n         35
\nin 3 days from ordering\n         35
\nin 180 days from ordering\n       24
\nin 14 days from ordering\n        24
\nin 7 days from ordering\n         20
\nin 150 days from ordering\n       18
\nin 2 days from ordering\n         16
\nin 60 days from ordering\n        13
\nin 42 days from ordering\n        10
\nin 21 days from ordering\n         8
\nin 4 days from ordering\n          2
\nin 6 days from ordering\n          1
Name: availability, dtype: int64

In [414]:
df.availability= df.availability.str.strip('\n').str.strip('in  days from ordering').astype(float)
df.availability.value_counts(dropna= False)

NaN      15284
90.0       196
120.0      182
1.0         51
5.0         35
3.0         35
180.0       24
14.0        24
7.0         20
150.0       18
2.0         16
60.0        13
42.0        10
21.0         8
4.0          2
6.0          1
Name: availability, dtype: int64

In [415]:
df.rename(columns={'availability': 'availability_in_days'} , inplace= True)

In [416]:
df.last_timing_belt_service_date.value_counts(dropna= False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                          15903
[\n04/2016\n]                    2
[\n12/1900\n]                    1
[\n07/2018\n]                    1
[\n01/1900\n]                    1
[\n05/2019\n]                    1
[\n09/2018\n]                    1
[\n05/2018\n, \nEuro 6\n]        1
[\n06/2017\n]                    1
[\n01/2019\n]                    1
[\n02/2019\n]                    1
[\n02/2018\n]                    1
[\n06/2019\n]                    1
[\n01/2018\n]                    1
[\n04/2019\n]                    1
[\n01/1970\n]                    1
Name: last_timing_belt_service_date, dtype: int64

In [417]:
df.available_from.value_counts(dropna= False)

NaN             15647
\n31/08/19\n       98
\n30/07/19\n       25
\n15/08/19\n       24
\n16/09/19\n       14
\n29/06/19\n       12
\n01/07/19\n       11
\n28/06/19\n       10
\n19/08/19\n        7
\n10/09/19\n        6
\n26/06/19\n        5
\n27/06/19\n        5
\n10/11/19\n        5
\n08/07/19\n        4
\n15/07/19\n        3
\n25/10/19\n        3
\n01/08/19\n        3
\n04/07/19\n        2
\n05/08/19\n        2
\n24/08/19\n        2
\n16/07/19\n        2
\n20/07/19\n        2
\n05/07/19\n        2
\n30/06/19\n        2
\n30/09/19\n        1
\n31/10/19\n        1
\n27/07/19\n        1
\n02/07/19\n        1
\n10/07/19\n        1
\n19/07/19\n        1
\n24/07/19\n        1
\n29/07/19\n        1
\n29/09/19\n        1
\n18/08/19\n        1
\n14/09/19\n        1
\n18/07/19\n        1
\n16/08/19\n        1
\n24/09/19\n        1
\n17/08/19\n        1
\n10/10/19\n        1
\n06/12/19\n        1
\n03/12/19\n        1
\n05/12/19\n        1
\n11/08/19\n        1
\n10/12/19\n        1
\n01/09/19\n        1
\n03/08/19\n        1
Name: available_from, dtype: int64

In [418]:
# drop edeceklerimiz  : 'url', 'make_model',  'registration',  'prev_owner', 'k_w' , 'null' ,   'offer_number', 'body', 
#               'consumption' ,'last_service_date',  'other_fuel_types' , 'last_timing_belt_service_date' ,'available_from'
# daha sonra drop edilebilecekler :
#                      sort_describtion, vat , type_fuel, inspection_new, next_inspection,
#                      warranty, full_service, non_smoking_vehicle , body_color_original, model_code,co2_emision, 
#                      description, country_version, emision_label,  electricity_consumption, , availability

In [419]:
df1= df.copy

In [116]:
df.drop(['url', 'make_model',  'registration',  'prev_owner', 'k_w' , 'null' ,   'offer_number', 'body', 'consumption',
'last_service_date',  'other_fuel_types' , 'last_timing_belt_service_date' ,'available_from', 'upholstery'], axis= 1, inplace= True)

In [117]:
df.shape

(15919, 42)

In [118]:
df.columns

Index(['short_description', 'body_type', 'price', 'vat', 'km', 'hp_kw', 'type',
       'previous_owners', 'next_inspection', 'inspection_new',
       'warranty_in_months', 'full_service', 'non_smoking_vehicle', 'make',
       'model', 'first_registration', 'body_color', 'paint_type',
       'body_color_original', 'nr_of_doors', 'nr_of_seats', 'model_code',
       'gearing_type', 'displacement', 'cylinders', 'weight', 'drive_chain',
       'fuel', 'co_2_emission', 'emission_class', 'comfort_&_convenience',
       'entertainment_&_media', 'extras', 'safety_&_security', 'description',
       'emission_label', 'gears', 'country_version', 'electricity_consumption',
       'availability', 'fuel_type', 'seat_cover'],
      dtype='object')

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 42 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   short_description        15873 non-null  object
 1   body_type                15859 non-null  object
 2   price                    15919 non-null  int64
 3   vat                      11406 non-null  object
 4   km                       14895 non-null  float64
 5   hp_kw                    15831 non-null  float64
 6   type                     15917 non-null  object
 7   previous_owners          9279 non-null   float64
 8   next_inspection          3535 non-null   object
 9   inspection_new           3932 non-null   object
 10  warranty_in_months       4853 non-null   float64
 11  full_service             6230 non-null   object
 12  non_smoking_vehicle      3460 non-null   object
 13  make                     15919 non-null  object
 14  model                    15919 non-null  object
 15  first_registration       14322 non-null  object
 16  body_color               15322 non-null  object
 17  paint_type               10147 non-null  object
 18  body_color_original      12160 non-null  object
 19  nr_of_doors              15707 non-null  object
 20  nr_of_seats              14942 non-null  object
 21  model_code               4978 non-null   object
 22  gearing_type             15919 non-null  object
 23  displacement             15423 non-null  object
 24  cylinders                10239 non-null  object
 25  weight                   8945 non-null   object
 26  drive_chain              9061 non-null   object
 27  fuel                     15919 non-null  object
 28  co_2_emission            14111 non-null  object
 29  emission_class           12898 non-null  object
 30  comfort_&_convenience    14999 non-null  object
 31  entertainment_&_media    14545 non-null  object
 32  extras                   12957 non-null  object
 33  safety_&_security        14937 non-null  object
 34  description              15919 non-null  object
 35  emission_label           3985 non-null   object
 36  gears                    11207 non-null  object
 37  country_version          7586 non-null   object
 38  electricity_consumption  137 non-null    object
 39  availability             635 non-null    object
 40  fuel_type                15917 non-null  object
 41  seat_cover               11416 non-null  object
dtypes: float64(4), int64(1), object(37)
memory usage: 5.1+ MB

In [121]:
df.isnull().sum()/len(df)*100

short_description           0.288963
body_type                   0.376908
price                       0.000000
vat                        28.349771
km                          6.432565
hp_kw                       0.552799
type                        0.012564
previous_owners            41.711163
next_inspection            77.793831
inspection_new             75.299956
warranty_in_months         69.514417
full_service               60.864376
non_smoking_vehicle        78.264966
make                        0.000000
model                       0.000000
first_registration         10.032037
body_color                  3.750236
paint_type                 36.258559
body_color_original        23.613292
nr_of_doors                 1.331742
nr_of_seats                 6.137320
model_code                 68.729192
gearing_type                0.000000
displacement                3.115774
cylinders                  35.680633
weight                     43.809285
drive_chain                43.080596
fuel                        0.000000
co_2_emission              11.357497
emission_class             18.977323
comfort_&_convenience       5.779257
entertainment_&_media       8.631195
extras                     18.606696
safety_&_security           6.168729
description                 0.000000
emission_label             74.967021
gears                      29.599849
country_version            52.346253
electricity_consumption    99.139393
availability               96.011056
fuel_type                   0.012564
seat_cover                 28.286953
dtype: float64

In [122]:
df.to_csv("df_clean.csv", index=False)